.key {
    min-width: 4rem;
    height: 4rem;
    border: 1px solid #135709;
    margin: 5px;
    padding: 30px;
    border-radius: 1rem;
    background-color: inherit;
    color: #135709;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-key-code="Space"] {
        min-width: 30rem;
    }

    &:active {
        background-color: aqua;
    }
}

.key__label {
    font-size: 2rem;
}

.key__label--upper {
    display: none;
}

